<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="OWNER" value="IMPORT_PROC"/>
    <add key="LOGIN" value="GUEST"/>
    <add key="PACKAGE" value=""/>
    <add key="PROCEDURE" value=""/>
    <add key="TABLE" value=""/>
    <add key="userFilter" value=" WHERE U.USERNAME IN (SELECT GRANTEE FROM DBA_ROLE_PRIVS where granted_role ='PICKUP_USER')"/>
    <add key="EXCLUDED_SCHEMAS" value="APEX_030200;MDSYS;SYS;XS$NULL;ANONYMOUS;APPQOSSYS;AURORA$ORB$UNAUTHENTICATED;CSMIG;CTXSYS;DBSNMP;DIP;DMSYS;DSSYS;EXFSYS;LBACSYS;MGMT_VIEW;ORACLE_OCM;ORDDATA;ORDPLUGINS;ORDSYS;PERFSTAT;OWBSYS_AUDIT;SYSMAN;SYSTEM;TOAD;TRACESVR;TSMSYS;WKPROXY;WKSYS;WK_TEST;WMSYS;XDB"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
